{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block container %}
<h1>My notes</h1>
<div class="list-group list-group-flash" id="notes">
    {% for note in user.notes %}
    <div class="list-group-item" data-id="{{ note.id }}">
        <div class="row">
            <div class="col-11">{{ note.data }}</div>
            <div class="col-1 d-flex align-items-end justify-content-end">
                <button type="button" class="btn-close" onclick="deleteNote({{ note.id }}, this)"></button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<form method="POST" id="add-note-form">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br/>
    <div align="center">
        <button type="submit" class="btn btn-primary" id="add-note-button">Add note</button>
    </div>
</form>
{% endblock %}